<div class="navbar navbar-inverse navbar-fixed-top">
 <div class="container">
<a class="navbar-brand text-muted" href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers</a>
   <ul class="nav navbar-nav navbar-right">
    <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>　Home</a></li>
    <li><a href="/about"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>　About</a></li>
    <li><a href="/users/sign_up"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>　sigh up</a></li>
    <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>　login</a></li>
   </ul>
 </div>
</div>

<div class="top-box"><br><br><br><h1>Welcome to 

<span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1><br>CopyRight @nionmiya</div>
